{% load admin_static %}{% load url from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
        {% block extrastyle %}

        <link rel="stylesheet" href="{% static "admin/css/blueprint/screen.css" %}" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{% static "admin/css/blueprint/print.css" %}" type="text/css" media="print">
        {% endblock %}
        <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
        {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
        <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
        {% block extrahead %}{% endblock %}
        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    </head>
    {% load i18n %}

    <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

        <!-- Container -->
        <div id="container">

            {% if not is_popup %}
            <!-- Header -->
            <div id="header">
                <div id="branding">
                    {% block branding %}{% endblock %}
                </div>
                {% if user.is_active and user.is_staff %}
                <div id="user-tools">
                    {% trans 'Welcome,' %}
                    <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
                    {% block userlinks %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                    {% endblock %}
                </div>
                {% endif %}
                {% block nav-global %}{% endblock %}
            </div>
            <!-- END Header -->

            <div class="breadcrumbs">
                {% block breadcrumbs %}     
                {% if user.is_active and user.is_staff %}
                <a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
                {% endif %}
                {% endblock %}
            </div>

            {% endif %}

            {% block messages %}
            {% if messages %}
            <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}</ul>
            {% endif %}
            {% endblock messages %}

            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block content %}
                {% block object-tools %}{% endblock %}
                <div id="content-main">
                    {{ content }}
                </div>
                <div id="content-related">
                    <section>
                    <h3>General Lists</h3>
                    <h4>Workers</h4>
                    <a href="/ner/people/">List all non-retired People</a><br />
                    <a href="/ner/people/all/">List all People</a>

                    <h4>Organisations</h4>
                    <a href="/ner/orgs/islands/">List all Organisations by island</a><br />
                    <a href="/ner/orgs/isic/">List all Organisations by ISIC code</a><br />
                    <a href="/ner/orgs/category/">List all Organisations by Category</a><br />

                    <h4>Vacancies</h4>
                    <a href="/ner/vacancies/">List all open Job vacancies</a><br />
                    <a href="/ner/vacancies/requirements/">List all open Job vacancies by requirement</a><br />
                    <a href="/ner/vacancies/recent/">List recently closed Job vacancies (last 30 days)</a><br />
                    <a href="/ner/vacancies/all/">List all Job vacancies, open and closed</a><br />
                    
                    <h4>Compensation Claims</h4>
                    <a href="/ner/compensation/">All current claims</a><br />
                    <a href="/ner/compensation/all/">All claim made</a><br />
                    <a href="/ner/compensation/paid/">Paid Claims</a><br />
                    <a href="/ner/compensation/rejected/">Rejected Claims</a><br />
                    <a href="/ner/compensation/pending/">Pending Claims</a><br />
                    <a href="/ner/compensation/processing/">Processing Claims</a><br />

                    </section>
                    <section>
                    <h3>Add a new...</h3>
                    <a href="/admin/ner/person/add">Create a new Person</a><br />
                    <a href="/admin/ner/organisation/add">Create a new Organisation</a><br />
                    <a href="/admin/ner/vacancy/add">Create a new Job vacancy</a><br />
                    <a href="/admin/ner/compensation/add">Create a new Compensation Claim</a><br />
                    </section>
                </div>
                {% endblock %}
                {% block sidebar %}
                {% endblock %}
                <br class="clear" />
            </div>
            <!-- END Content -->

            {% block footer %}<div id="footer"></div>{% endblock %}
        </div>
        <!-- END Container -->

    </body>
</html>
