{% extends "ner/base.html" %}
{% load i18n admin_static %}

{% block title %}{{ title }}{% trans 'National Employment Register site' %}{% endblock %}

{% block branding %}{{ block.super }}
<a href="http://ner.mlhrd.lan/ner/"><h1 id="site-name">{% trans 'Work Relation Unit' %}</h1></a>
{% endblock %}

{% block breadcrumbs %}
    | <a href="/ner/">{% trans 'Home' %}</a> |
    {% if title %} &rsaquo; {{ title }}{% endif %}
    <a href="/ner/vacancies/">{% trans 'Vacancies' %}</a> |
    <a href="/ner/people/">{% trans 'Workers' %}</a> |
    <a href="/ner/orgs/">{% trans 'Organisations' %}</a> |
    <a href="/ner/compensation/">{% trans 'Compensation Claims' %}</a> |
    <a href="/search/">{% trans 'Search' %}</a> |
    {{ block.super }}
{% endblock %}
