{% extends "ner/base_site.html" %}
{% comment %}

{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}


{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% endcomment %}
{% block coltype %}colMS{% endblock %}
{% block content %}
{{ block.super }}
{% if vacancy_list %}
    {% regroup vacancy_list by closing_date as dated_list %}
    {% for close_date in dated_list %}
    <h3>{{ close_date.grouper }}  
    <ul>
    {% for job in close_date.list %}
        <li><a href="{{ job.get_absolute_url }}/">{{ job }}</a></li>
    {% endfor %}
    </ul>
    {% endfor %}
{% else %}
    <p>No Vacancies are available.</p>
    {% endif %}
{% endblock %}
