{% extends "ner/base_site.html" %}
{% comment %}

Organisation list page of the portal.

{% endcomment %}

{% block title %}
Organisation list
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
    {{ block.super }}
    {% if organisation_list %}
        {% regroup organisation_list|dictsort:"island" by get_island_display as island_list %}
        <ul>
            {% for island in island_list %}
                <li>{{ island.grouper }}
                <ul>
                {% for org in island.list %} 
                    <li><a href="{{ org.get_absolute_url }}">{{ org.name }}</a></li>
                {% endfor %}
                </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Organisations are available.</p>
    {% endif %}
{% endblock %}
