{% extends "ner/base_site.html" %}
{% comment %}
Organisation detail of the portal.
{% endcomment %}
{% block title %}
Organisation detail
{% endblock %}

{% block content %}
    <section>
    
    <p><h4>Name:</h4> {{ organisation.name }}</p>
    {% if organisation.island %}<p><h4>
        Island:</h4> {{ organisation.get_island_display }}
    </p> {% endif %}
    <p><h4>Address:</h4> {{ organisation.address }}</p>
    {% if organisation.contact_name %}<p><h4>
    Contact Person:</h4> {{ organisation.contact_name }}
    </p> {% endif %}
    {% if organisation.phone_1 %}<p><h4>
    Phone 1:</h4> {{  organisation.phone_1 }}
    </p> {% endif %}
    {% if organisation.phone_2 %}<p><h4>
    Phone 2:</h4> {{  organisation.phone_2 }}
    </p> {% endif %}
    {% if organisation.email %}<p><h4>
    Email:</h4> {{ organisation.email }}
    </p> {% endif %}
    {% if organisation.industry %}<p><h4>
    Industry (ISIC) Code:</h4> {{ organisation.get_industry_display }}
    </p> {% endif %}
    {% if organisation.category %}<p><h4>
    Industry Category:</h4> {{ organisation.get_category_display }}
    </p> {% endif %}
    
    </section>
{% endblock %}



