{% extends "ner/base_site.html" %}
{% comment %}

Vacancy detail page of the portal.

{% endcomment %}
{% load comments %}
{% block title %}
Vacancy details
{% endblock %}

{% block content %}
  <div id="content-left">
    
  <section>
    <p><h4>Job Title:</h4> {{ vacancy.title }}</p>
    <p><h4>Organisation:</h4> <a href="{{ vacancy.organisation.get_absolute_url }}">{{ vacancy.organisation }}</a></p>
    {% if vacancy.division %}
    <p><h4>Division:</h4> {{ vacancy.division }}</p>   
    {% endif %}
    <p><h4>Closing Date:</h4> {{ vacancy.closing_date }}</p>

    <p><h4>Salary Levels:</h4> 
    {{ vacancy.salary_level_1 }} - {{ vacancy.salary_level_2 }}|
    {{ vacancy.salary_level_3 }} - {{ vacancy.salary_level_4 }}
    <br />

    <p><h4>Requirements</h4></p>
    {% for requirement in vacancy.requirements.all %}
        <li>{{ requirement }}</li>
    {% endfor %}
    </div>
    
    <div id="content-right">
    <p><h4>Applicants</h4></p>
    {% for applicant in vacancy.applicants.all %}
    <li><a href="{{ applicant.get_absolute_url }}">{{ applicant }}</a></li>
    {% endfor %}
    </section>
   <section>
   <h3>Comments</h3>
   
    {% render_comment_list for vacancy %}
    
    <h4>Add a comment</h4>
    {% render_comment_form for vacancy %}
    </section>
    <section>
        <p><a href="/admin/ner/vacancy/{{ vacancy.id }}/">Edit this Vacancy</a></p>
    </section>
    </div>

{% endblock %}
